<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

<main class="container">
    <h3>Sorry there's nothing at this url, <a href="/">cick here to get back to some healthy content!</a></h3>
</main>
