 <main id="factory-farming">
        <section class="container">
            <header>
                <hr>
                <img class="left" alt="Factory" src="images/design/factory-left.png">
                <h2>Factory Farming</h2>
                <img class="right" alt="Factory" src="images/design/factory-right.png">
                <hr class="bottom">
            </header>
            <p>Unless you know otherwise your meat came from a factory farm. Factory farming is the culmination of the quest for making the greatest profits by producing the most meat possible with least amount of time and space. Everything else that does not affect the bottom line is disregarded and the public is left to deal with the problems. They are not family farms. They are not the picturesque farms in childhood books. The animals are not grazing on rolling green pastures next to a red barn with white trim. They are cramped indoors in as small a space as possible. Factory farms are large, industrial and owned by big corporations. They literally stink from miles away.</p>
        </section>

        <div class="light full-width"><section class="container">
            <h3>Why Haven't I Heard About Factory Farming Before?</h3>
            <h4>Few people directly witness factory farming</h4>
            <ul class="call-out">
                <li>Locations are in sparsely populated lower income rural areas</li>
                <li>Factory farms and their slaughterhouses are conducted with top secret operations</li>
                <li>Cost cutting efficiency means fewer workers to witness their operation (not to mention fewer jobs)</li>
            </ul>
            <h4>Seeing is believing</h4>
            <p>In addition to the actions above, directly taken to hide factory farming, much of the human cost of factory farming cannot be readily seen with our eyes and unfortunately, as the saying goes, 'seeing is believing'. The global effects explained below cannot be simply seen, they require some background understanding of biology and climate science in addition to the direction and willingness to take the time to consider them.</p>
        </section></div>
        <hr class="money-politics full-width">
        <div class="light full-width">
            <section class="container money-politics">
                <img class="money-badge" alt="Money and Politics" src="images/design/money-n-politics-badge.png">
                <h3>What a surprise. In the US, well funded groups lobby to insure:</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>Government subsidies and tax breaks increase profits from factory farming. These can be direct and indirect such as assistance to other industries that decreases the cost of corn and soy feed.</li>
                            <li>The law is tolerant. If an illegal practice is brought to court the most common result is that the laws are changed to allow it.</li>
                </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>The USDA is both responsible for telling people what they should eat to be healthy AND promoting animal agriculture. Sound like a conflict of interest? It does to us.</li>
                            <li>There is a lack of legal oversight and enforcement.</li>
                         </ul>
                    </div>
                </div>
            </section>
        </div>
        <hr class="money-politics bottom full-width">
        <div class="light full-width">
            <section class="container personal">
                <h3>Personal Attachment</h3>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p>Desire for meat is personal, social and different for everyone based on taste buds, family and culture so I'll let you fill in the blanks yourself, but I'd bet it is the reason why you let the above tactics shield you from <a href="{{'/theFacts'}}" class="highlight">the facts</a> for so long. This is also the reason our pledge does not require you to follow a strict vegetariain or vegan diet, but instead lets you decide for yourself what you can manage.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>