<main id="our-goal">
    <section class="container round light">
        <div class="row">
            <div class="col-sm-3">
                <img id="goal-image" alt="The Goal" src="images/design/TheGoal.png"> </div>
            <div class="col-sm-8">
                <p>
                    <a class="highlight" href="{{'/factoryFarming'}}">MEATLESSLY'S GOAL IS TO SPREAD AWARENESS OF FACTORY FARMING'S HARMFUL PRACTICES</a>
                    by the act of not eating animal products. Factory farming is the most destructive industry to both our environment and health
                    yet most of us regularly support it without a second thought. By purchasing less meat we will also decrease
                    the amount we fund factory farming. The self determined pledge to eat less meat is central to this goal.
                    It is a public pledge for all to see. This is designed to keep us honest to our personal pledge as well
                    as spread awareness to our family, friends and colleagues. Eating is social, which can make change hard,
                    but we hope when you do make the pledge it will help these ideas spread like wildfire. Please continue
                    reading to find out more and when you are ready,
                    <a class="highlight" href="{{'/pledgeNow'}}">SIGN THE PLEDGE.</a>
                </p>
            </div>
        </div>
    </section>
</main>