<main id="the-facts">
    <div class="container light round">
        <h2 class="section-flag left">
            <span>The Facts</span>
        </h2>
        <aside id="beef">Pardon my slang, but WHAT'S
            <b> YOUR</b> BEEF?</aside>
        <aside id="issues">Which of the following issues will make
            <b>you</b> stand up and be heard?</aside>
        <div id="fact-buttons" class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-4">
                        <button class="global-environment">Global
                            <br/>Environment</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="local-environment">Local
                            <br/>Environment</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="global-health">Global
                            <br/>Health</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-xs-4">
                        <button class="your-health">Your
                            <br/>Health</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="tortured-animals">Tortured
                            <br/>Animals</button>
                    </div>
                    <div class="col-xs-4">
                        <button>Poverty
                            <br/>&amp; Hunger</button>
                    </div>
                </div>
            </div>
        </div>

        <section class="global-environment" style="display: none;">
            <h3>Global Environment</h3>
            <blockquote>Fact: 18% of greenhouse gas emissions come from animal agriculture.</blockquote>
            <p>In fact the estimate that animal agriculture is responsible for 18% of all greenhouse gas emissions from a comprehensive
                UN study is on the low side. What is clear is that livestock is the single greatest source of greenhouse
                gas emissions. You cannot talk seriously about your carbon footprint without talking about your meat consumption.</p>

            <blockquote>Fact: Nearly 1/3 of land on the planet is dedicated to livestock production.</blockquote>
            <p>At least 30% of ice-free land in the world is dedicated to live-stock production, over a quarter is used directly
                for grazing. Even more land will be needed as population and demand for meat increases globally. New land
                for animal agriculture has to come from somewhere and often it comes from forest. Over 70% of deforestation
                in the Amazon is to make more room for animal agriculture.</p>

            <blockquote>Fact: Production of plant based nutrition is inherently more efficient than meat production.</blockquote>
            <p>If you think that just as much land and resources are needed to sustain a vegetarian diet, you are wrong. This
                is easily understood with knowledge of the food energy pyramid. Plants are at the bottom. They receive their
                energy from the sun. The next level up are herbivores, animals that eat the plants for their energy. Now
                here is the catch: only 10% of the energy in the plants make it into animals. That means that 90% of the
                energy and resources are lost in this step. For every chicken, pig, fish and cow we must think about the
                additional land, water, transport, nutrients and labor that went into the corn, soy and other products in
                its feed. For this reason, no matter how efficient animal agriculture is, it will always fall second place
                to greens.</p>
        </section>

        <section class="local-environment" style="display: none;">
            <h3>Local Environment</h3>
            <blockquote>Fact: In the US animals are responsible for 130 times the amount of solid waste [shit] than humans.</blockquote>
            <p>I think you will believe me when I tell you that chickens are not shitting into porcelain toilets; there is no
                sewage system for all that waste. Furthermore, animal waste is estimated to be 160 times more toxic as human
                waste. That is a lot of very toxic crap. Animal waste is an important part of a natural ecological cycle,
                but not in these quantities and not anywhere close to them.</p>
            <blockquote>Fact: That same shit is 160 times more toxic than our human waste.</blockquote>
            <p>Where does all this toxic shit go? It goes into American land, American drinking water and American lungs. There
                is no agency to track or enforce its safety. How could there be? Factory farms would not exist if there were
                such an agency.</p>
            <blockquote>Fact: Factory farms have caused the loss of $26 billion in American land value.</blockquote>
            <p>Local fields are dug to be filled with the poisonous waste. The excrement seeps into land, water and rivers.
                There are already enough miles of river polluted with this waste to wrap around the world. There is so much
                that it is sprayed into the air to get rid of it. The mostly poor rural communities that are nearby the factories
                are forced to act as filters. The bottom line is that humans die from drinking and breathing the enormous
                toxic result of factory farming. The cost of the pollution is not factored in to the efficiency of factory
                farms. It is factored into the degradation of our land, water and health.</p>
        </section>

        <section class="your-health" style="display: none;">
            <h3>Your Health</h3>
            <blockquote>Fact: Heart disease is the leading cause of death in the US.</blockquote>
            <p>Cardiovascular disease is the number one killer in the US. Cardiovascular problems are most often triggered by
                excessive fat and cholesterol diets. The easiest way to cut down on fat and cholesterol is to cut down on
                meat. A vegan diet is a cholesterol free diet. The most red meat consumed in a week, that has the chance
                of being considered healthy, is smaller than an iPhone.
            </p>
            <blockquote>Fact: The USDA's mission includes educating the public on what is healthy nutrition AND expanding agriculture
                markets including meat.
            </blockquote>
            <p>
                With this information many will ask how the 2-3 servings of meat made it on to the classic food pyramid? The USDA is both
                responsible for supporting the animal agriculture AND public health. That sounds like a conflict of interest
                to us and it is no surprise that the interested parties with billions of dollars of revenues [read: farming
                lobbies] win out. Of course, profits that animal agriculture make pale in comparison to the burden eating
                meat has on our national health care system and the personal tragedy of family members.
            </p>
        </section>

        <section class="global-health" style="display: none;">
            <h3>Global Health</h3>
            <p>
                A synonym for factory farms should be disease factories. They are just as efficient at producing antibiotic resistant disease
                as they are at producing meat. The conditions are perfect for disease because factory farms use the fewest
                resources that allow enough animals to live. This means the animals are crammed into as small a space as
                possible to live their whole lives amongst their own waste and dying companions. It should come as no surprise
                that many of the animals die of disease before they are slaughtered, however we are not done yet.
            </p>
            <blockquote>Fact: 4/5 Antibiotics sold in the US are for animal use.</blockquote>
            <p>The animals are bred to produce livestock whose desirable traits are pushed to the utmost extreme. This means
                all other aspects of the animals have been poorly bred. Right out of the womb or egg they are genetically
                predisposed to disease because they are engineered for one purpose to produce the most meat, eggs or milk
                in the shortest amount of time. Disease is just another factor in the equation for the greatest profits.
                When disease occurs, the equation says to fix the problem with antibiotics because fixing the animals environment
                and providing the animals with the health to naturally fight disease means less profit. Most animals in factory
                farms do not live a day without antibiotics nor could they even exist without them. For people, antibiotics
                are restricted to an as needed basis to keep bacteria from adapting to the antibiotics and creating dreaded
                antibiotic resistant disease. However, this seems not to apply to animal agriculture. We seem to value keeping
                our unhealthy meat alive rather than human health. We use so much antibiotics for animals that four out of
                five antibiotics in the US end up in animals. This is absurd. Humans will die because antibiotics were wasted
                to produce cheap disease ridden meat.
            </p>
            <blockquote>Fact: The worlds influenza advisory groups agree that humans are overdue for a large scale pandemic.</blockquote>
            <p>Historical precedence and power laws along with a growing lack of immunity to disease being fostered in factory
                farms lead to the conclusion that we are heading towards a large scale pandemic. The H1N1 virus is currently
                the most feared pathogen to cause what would be widespread death and chaos. Six of its eight genetic segments
                can be traced to US factory farms. The lineage of the H1N1 swine flu that made the news can be traced back
                to a factory farm in North Carolina.
            </p>
            <blockquote>Fact: The 2009 Swine Flu came from Factory Farms.</blockquote>
            <p>This does not come as a surprise. Factory farms are perfect for place for breeding pandemic pathogens because
                they are far and away the best places to find sick animals on earth. The more sick animals you have, the
                greater your chances of having a single cell in an animal be infected by more than one virus. When viruses
                are in the same cell, they have the chance to mutate with each other, which often creates a new virus with
                a better chance to jump species. When a virus jumps from an animal species to humans it is very scary. If
                the pathogen has not been seen in humans before then our species may not have had the chance to acquire a
                defense for it. The swine flu virus scared itself into the news because it successfully made the jump from
                pigs to humans. In addition to five swine flu genes the '2009 swine flu' also had one human and two avian
                flu genes. It was particularly worrisome because of avian flu's ability to spread quickly, combined with
                the foreign components typical in swine flu that humans do not have immunities for. Quite simply, we know
                where the next pandemic to cause widespread misery will originate from, but we like the taste of our meat
                or the profits too much to do anything about it.
            </p>
        </section>

        <section class="tortured-animals" style="display: none">
            <h3>Tortured Animals</h3>
            <p>The meat you eat from factory farming was tortured from birth to death. Without lying how could you explain to
                your child or any child why it was okay torture the animal that ended up on their plate but not Baxter, the
                family dog, or the deer that wandered into the backyard. I have never heard a solid argument. Some argue
                it is okay to kill an animal assuming it had a half decent life and a quick death. Unfortunately, both of
                these assumptions are far from reality. You have probably thought about all this before. What you have probably
                not thought about were the extremes and factory farming is just that, extreme. It pushes the assembly line
                to its limits of the poundage it can produce by the hour, as is the rule in cheap manufacturing. Only in
                this case, the poundage is a living and breathing social being.</p>
            <p>
                As meat eaters we avoid the undercover video on YouTube or TV documentary on animal farming because we know it is going to
                be a horror movie. We don't want to face the facts and deal with resulting conflicts in our ethics. So here
                are some of the facts. The images on this page will remain rated G but as a forewarning, the text will not.
                </p>
            <p>
            </p>
            <ul>
                <li>As discussed in the section on global health and disease, animals are bred to produce the most meat, milk
                    or eggs. The result is a body that is engineered for a life of pain. There are more horrors than the
                    ones discussed in the disease section. For example, chickens that are bred for meat have muscle that
                    grow much more massive than their bones can support. This means chicken on your plate probably never
                    took a step that wasn't painful in its life. What is likely is that it was deformed, had a slipped vertebrae,
                    a slipped tendon or a twisted broken back leg. </li>
                <li>Chickens are debeaked, cows are branded and pigs have teeth and tails removed all without anesthesia.</li>
                <li>Workers often become masochistic due to the hellish nature of their work or are simply forced to be violent
                    because of time restraints. For example, pigs are often beaten with metal rods for fun. Rods and electrical
                    prods are shoved into pregnant sows anus and vaginas. Chicken legs snap in the hands of workers as they
                    gather five pairs of legs to pack the chickens for transport.</li>
                <li>Many consumers are aware that some torture occurs with chicken cages because supposedly cage free eggs exist,
                    however fewer are aware of gestation crates for pregnant sows. The sows spend most of their life in the
                    crates because they are artificially forced to be constantly pregnant. The crates are so small they cannot
                    turn around. It is so hard to get the pregnant pigs into the cages that this is an instance where the
                    beating the pigs with metal rods isn't purely for pleasure. In the cages they are forced to live in their
                    own waste and develop black pus-filled sores as large as human fists from the walls of the cage.</li>
                <li>At the slaughterhouse, speed is still essential to profits so many mistakes are made. For chickens this means
                    their arteries are not successfully cut by machine or human. Alive, they are dipped into the scalding
                    tank. This is the case for about 180 million birds a year. Cows are supposed to be killed or made unconscious
                    by a knocking gun that sends a metal rod into their head and then retracts. However, it is advantageous
                    if the cow’s heart does not stop beating, so the power on the gun is turned down making it less efficient.
                    Often the cow requires multiple hits to its head and is merely maimed by the severe and certainly painful
                    dent in its head. The cow will then be skinned and gutted alive and fully conscious kicking and screaming.
                    Even if it is unconscious to start out with it may wake up in the middle of the process. This is not
                    a rare event. It is common practice and the direct result of the demand for cheaper meat.</li>
            </ul>
        </section>
    </div>
</main>